@{
    ViewData["Title"] = "Home Page";
}
<div>
    <form method="get" asp-action="DaysWeek">
        <div class="form-group">
            <label for="xDoIf">Digite o dia:</label>
            <input type="text" name="dayNum" id="xDoIf" />
        </div>
        <button type="submit" value="DaysWeek">DaysWeek</button>
    </form>
</div>
