@model NumToWords.Models.Numbers;

@{
    ViewData["Title"] = "Home Page";
}

<h1>Conversor de Números Para Texto</h1>

<form asp-action="Numbers" class="numFrom" method="post">
    <h3>Digite um número</h3>
    <input type="number" name="userInput" asp-for="userInput" value="" />
    <button class="button" type="submit" name="action" value="convert">Enviar</button>
    <h3>Número Por Extenso: @Model.numInText</h3>
</form>
